* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.comparison-slider {
    width: 600px;
    height: 338px;
    max-height:100vh;
    position: absolute;
    left:1200px;
    top:290px;
    transform:translate3d(-50%,-50%,0);
    overflow:hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.comparison-item {
  overflow: hidden;
}

.comparison-item.top {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.comparison-item.top img {
  height: 100%;
  object-fit: cover;
}

.handle {
  position: absolute;
  width: 7px;
  height: 100%;
  background: rgb(24,24,62);
  z-index: 30;
  cursor: col-resize;
  top: 0;


  transition: opacity 0.12s ease-in-out;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
  display: block;
}

.handle svg {
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  height: 50px;
  left: -22px;
  width: 50px;
  background: white;
  padding: 2px;
  border-color: rgb(24,24,62);
  transform:translateY(-50%);
  border-radius:50px; 
  border: 5px solid rgb(24,24,62);
  background-color: #fff;
  opacity:0.9;   
  pointer-events:auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}


.handle svg:hover{
  opacity:1;
}

/* DEMO ONLY */
.photo-creds {
  position: absolute;
  text-align: right;
  right: 10px;
  bottom: 10px;
}

.photo-creds a {
  display: block;
}






